.cart{
    width: 80%;
    height: 90vh;
    margin-top: 10vh;
}
.cart .cart-cont{
    width: 50vw;
    height: 45vh;
    border: 1px solid black;
    margin: 15vh auto;
    display: grid;
    grid-template-columns: auto auto;
}
.cart .cart-cont .left{
    width: 30%;
    height: 45vh;  
}
.cart .cart-cont .left img{
    width: 100%;
    height: 40vh;
    margin: 3vh auto;
}
.cart .cart-cont .right{
    width: 70%;
    height: 45vh;
}
.cart .cart-cont .right h2{
    text-align: center;
    color: green;
    margin: 20px;
}
.cart .cart-cont .right span{
    color: blue;
}
.cart .cart-cont .right h4{
    color: orangered;
}